.updateFormContainer {
    width: 70%;
    position: relative;
    left: 0.1%;
    height: auto;
    padding-left: 1.1%;
    padding-right: 1.1%;
    margin-bottom: 3%;
    overflow-x: hidden;

    form {
        display: flex;
        flex-direction: column;
        width: 32.5%;
        position: relative;
        left: 2.5%;
        padding-left: 2.3%;
        border-top: 0.2px black solid;
        border-left: 0.2px black solid;
        border-bottom: 0.2px black solid;
        animation: updateForm 0.25s ease-out forwards;

        #updateTitle {
            width: 60%;
        }

        #updateContent {
            width: 99%;
            height: 170px;
            resize: none;
            line-break: loose;
            white-space: pre-wrap;
            overflow-wrap: break-word;
            word-break: break-all;
            hyphens: auto;
        }

        .updatePostButton {

            margin-top: 0;
            margin-left: 37.9%;
            border: 4px lighten(rgb(60, 58, 58), 7.3%) solid;
            background-color: lighten(rgb(60, 58, 58), 7.3%);
            color: white;
            width: 131px;
            padding: 1.2%;
            cursor: pointer;
            border-radius: 20px;
            font-size: 15px;
            font-weight: bold;
            margin-bottom: 0.4%;
            transition-property: transform;
            transition-duration: 0.02s;
            transition-timing-function: ease-in;
            transform: scale(1);

            &:hover {
                border: 4px lighten(rgb(60, 58, 58), 12.3%) solid;
                background-color: lighten(rgb(60, 58, 58), 11.3%);
            }

            &:active {
                transform: scaleY(0.962);
            }
        }

        @media screen and (max-width:992px) {
            display: none;
        }

    }

    .updateErrors {
        color: red;
        position: fixed;
        right: 0.85%;
        top: 90px;
        z-index: 1;
        margin-top: 0;
        text-align: center;
        padding-left: 36px;
        font-size: 17px;
        visibility: visible;
        width: auto;

        @media screen and (max-width: 992px) {
            display: none;
        }
    }

    @media screen and (max-width: 992px) {
        display: none;
    }
}

@keyframes updateForm {
    5% {
        transform: translateX(70%);
    }

    8% {
        transform: translateX(75%);
    }

    75% {
        transform: translateX(80%);
        visibility: hidden;
    }

    100% {
        visibility: visible;
        position: fixed;
        left: 40.05%;
        top: 18%;
        transform: translateX(85%);
        background-color: white
    }
}