.homepage {
    width: 100%;
    height: auto;
    visibility: hidden;
    animation: timeout 0.5s ease-out 0s forwards
}

.emptyHomepage {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
    animation: timeout 0.5s ease-out 0s forwards;

    @media screen and (max-width:992px) {
        height: auto;
    }
}

.firstContainer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
    height: 115px;

    @media screen and (max-width:992px) {
        flex-direction: column;
        height: 140px;
    }
}

.secondContainer {
    margin-top: 40px;
    height: auto;
    margin-bottom: 11%;
    width: 100%;
    display: flex;
    justify-content: space-between;

    @media screen and (max-width:992px) {
        flex-direction: column;
        align-items: center;
        margin-bottom: 5%;
    }
}

.mainContainer {
    width: 76%;
    margin-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@keyframes timeout {
    from {
        visibility: hidden;
    }

    to {
        visibility: visible;
    }

}