.homepage {
    width: 100%;
    height: auto;
    visibility: hidden;
    animation: timeout 0.5s ease-out 0s forwards;

    @media screen and (max-width: 992px) and (orientation: portrait) {
        height: auto;
        border-bottom: 4px rgb(60, 58, 58) solid;
    }

    @media screen and (max-width: 768px) and (orientation: portrait) {
        height: auto;
    }

}

.emptyHomepage {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
    animation: timeout 0.5s ease-out 0s forwards;

    @media screen and (max-width:992px) {
        height: auto;
    }

    @media screen and (max-width: 992px) and (orientation: portrait) {
        height: 100vh;
        border-bottom: 4px rgb(60, 58, 58) solid;
    }

    @media screen and (max-width: 768px) and (orientation: portrait) {
        height: auto;
    }
}

.firstContainer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
    height: 115px;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: white;

    @media screen and (max-width:992px) {
        flex-direction: column;
        height: 140px;
    }
}

.secondContainer {
    position: relative;
    margin-top: 14px;
    height: auto;
    margin-bottom: 11%;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;

    @media screen and (max-width:992px) {
        flex-direction: column;
        align-items: center;
        margin-bottom: 5%;
    }
}

.mainContainer {
    width: 76%;
    margin-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@keyframes timeout {
    from {
        visibility: hidden;
    }

    to {
        visibility: visible;
    }

}