.formContainer {
    margin-top: 0;
    margin-right: 15%;
    width: 100%;
    border: 0.1px black solid;
    border-radius: 16px 2px 16px 16px;
    padding-bottom: 2%;

    form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-left: 3%;
        padding-right: 1.5%;

        label:first-child {
            margin-top: 23%;
            margin-bottom: 5%;
            margin-bottom: 0.2%;

            input {
                margin-top: 2%;
                padding: 1.2%;
                border: 1.55px black solid;
                border-radius: 10px;
                margin-left: 0.6%;
                width: 92%;
            }
        }

        .userLabel~.passLabel {
            margin-top: 3%;

            input {
                margin-top: 2%;
                padding: 1.2%;
                border: 1.55px black solid;
                border-radius: 10px;
                margin-left: 0.6%;
                width: 92%;
            }
        }

        .sendButton {
            margin-top: 1.4%;
            margin-left: 65.8%;
            border: 4px lighten(rgb(60, 58, 58), 7.3%) solid;
            background-color: lighten(rgb(60, 58, 58), 7.3%);
            color: white;
            width: 27%;
            padding: 1.2%;
            cursor: pointer;
            border-radius: 20px;
            font-size: 15px;
            font-weight: bold;
            transition-property: transform;
            transition-duration: 0.02s;
            transition-timing-function: ease-in;
            transform: scale(1);

            &:hover {
                border: 4px lighten(rgb(60, 58, 58), 12.3%) solid;
                background-color: lighten(rgb(60, 58, 58), 11.3%);
            }

            &:active {
                transform: scaleY(0.962);
            }

        }

    }

    @media screen and (max-width:992px) {
        margin-left: 0%;
        width: 99.8%;

        form {
            padding-left: 0;
            padding-right: 0;

            label:first-child {
                margin-left: 1.4%;
                width: 98%;
                margin-top: 15%;

                input {
                    width: 98%;
                    margin-left: 1.4%;
                    padding: 1.7%;
                    border-radius: 20px;
                    font-size: 17px;
                }
            }

            .userLabel~.passLabel {
                margin-top: 4%;
                width: 98%;
                margin-left: 1.4%;

                input {
                    margin-left: 1.4%;
                    width: 98%;
                    margin-left: 1.4%;
                    padding: 1.7%;
                    border-radius: 20px;
                    font-size: 17px;
                }
            }

            .sendButton {
                margin-left: 74%;
                width: 24%;
            }
        }
    }

    @media screen and (max-width: 768px) {

        form {

            label:first-child {
                margin-left: 1.4%;
                width: 98%;
                margin-top: 14%;

            }

            .sendButton {
                margin-left: 70%;
                padding-left: 0.8%;
                padding-right: 0.5%;
                width: 27%;

            }
        }
    }
}