.postList {
    width: 100%;
    height: auto;
    visibility: visible;

    &>*:not(.listSpinnerContainer) {
        animation: post-list 1.4s linear 0s;
    }

    @media screen and (max-width: 992px) and (orientation: portrait) {
        height: auto;
        border-bottom: 4px rgb(60, 58, 58) solid;

        animation: post-list-adjustment 0.1s linear 1.3s backwards;

        @keyframes post-list-adjustment {
            0% {
                border-bottom: 0;
            }

            100% {
                border-bottom: 0;
            }
        }
    }

    @media screen and (max-width: 768px) and (orientation: portrait) {
        height: auto;
    }

    @media screen and (max-width: 768px) and (orientation: portrait) {

        animation: post-list-adjustment 0.1s linear 1.3s backwards;

        @keyframes post-list-adjustment {
            0% {
                border-bottom: 0;
            }

            100% {
                border-bottom: 0;
            }
        }
    }
}

.emptyPostList {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100vh;

    &>*:not(.listSpinnerContainer) {
        animation: post-list 1.4s linear 0s;
    }

    @media screen and (max-width:992px) {
        height: 100vh;
        border-bottom: 4px rgb(60, 58, 58) solid;
    }

    @media screen and (max-width: 992px) and (orientation: portrait) {
        height: 100vh;
        border-bottom: 4px rgb(60, 58, 58) solid;
    }

    @media screen and (max-width: 768px) and (orientation: portrait) {
        height: 100vh;
        border-bottom: 4px rgb(60, 58, 58) solid;

        animation: post-list-adjustment 0.1s linear 1.3s backwards;

        @keyframes post-list-adjustment {
            0% {
                border-bottom: 0;
            }

            100% {
                border-bottom: 0;
            }
        }
    }
}

.postListFirstContainer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
    height: 115px;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: white;

    @media screen and (max-width:992px) {
        flex-direction: column;
        height: 140px;
    }
}

.postListSecondContainer {
    position: relative;
    margin-top: 14px;
    height: auto;
    margin-bottom: 11%;
    width: 100%;
    display: flex;
    justify-content: space-between;

    @media screen and (max-width:992px) {
        flex-direction: column;
        align-items: center;
        margin-bottom: 5%;
    }
}

.postListMainContainer {
    width: 76%;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@keyframes post-list {
    from {
        visibility: hidden;
        transform: (translateX(-200%));
    }

    to {
        visibility: hidden;
        transform: (translateX(-200%));
    }

}


.listSpinnerContainer {
    padding-top: 30px;
    height: 230px;
    position: fixed;
    top: 24%;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 3;
    animation: list-spinner-container 1s linear 1.3s forwards;

    .listSpinner {
        border: 3.9px rgb(60, 58, 58) solid;
        border-radius: 93px;
        width: 104px;
        height: 95px;

        animation: list-spinner 1.3s ease-out 0.05s forwards;
    }

    .listSpinnerCenter {
        margin-left: 43%;
        border: 3.9px white solid;
        background-color: white;
        border-radius: 193px;
        width: 100.3px;
        height: 101px;
        visibility: visible;
        position: relative;
        top: -6.9px;
        right: 47px;
        animation: list-spinner 1.3s ease-out 0.05s forwards;
    }
}

@keyframes list-spinner {

    0% {
        transform: rotate(1turn);
    }

    100% {
        transform: rotate(2.4turn);
        visibility: hidden;
    }
}

@keyframes list-spinner-container {

    from {
        color: transparent;
        border: 0;
        width: 0;
        height: 0;
        margin: 0;
        visibility: hidden;
    }

    to {
        color: transparent;
        border: 0;
        width: 0;
        height: 0;
        margin: 0;
        visibility: hidden;
    }

}