.postList {
    width: 100%;
    height: auto;
    visibility: visible;
    animation: post-list 0.5s linear 0s;

    @media screen and (max-width: 992px) and (orientation: portrait) {
        height: auto;
        border-bottom: 4px rgb(60, 58, 58) solid;
    }

    @media screen and (max-width: 768px) and (orientation: portrait) {
        height: auto;
    }

}

.emptyPostList {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
    animation: post-list 0.5s linear 0s;

    @media screen and (max-width:992px) {
        height: 100vh;
        border-bottom: 4px rgb(60, 58, 58) solid;
    }

    @media screen and (max-width: 992px) and (orientation: portrait) {
        height: 100vh;
        border-bottom: 4px rgb(60, 58, 58) solid;
    }

    @media screen and (max-width: 768px) and (orientation: portrait) {
        height: 100vh;
        border-bottom: 4px rgb(60, 58, 58) solid;
    }
}

.postListFirstContainer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
    height: 115px;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: white;

    @media screen and (max-width:992px) {
        flex-direction: column;
        height: 140px;
    }
}

.postListSecondContainer {
    position: relative;
    margin-top: 14px;
    height: auto;
    margin-bottom: 11%;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;

    @media screen and (max-width:992px) {
        flex-direction: column;
        align-items: center;
        margin-bottom: 5%;
    }
}

.mainContainer {
    width: 76%;
    margin-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@keyframes post-list {
    from {
        visibility: hidden;
        transform: (translateX(-200%));
    }

    to {
        visibility: hidden;
        transform: (translateX(-200%));
    }

}