.firstIconContainer {
    border: 1.5px black solid;
    display: inline-block;
    vertical-align: middle;
    border-radius: 34px;
    width: 30px;
    height: 30px;

    i {
        display: flex;
        justify-content: center;
        margin-top: 6px;
        transform: scale(1.10);
    }

    @media screen and (max-width:992px) {
        margin-left: 1.4%;
    }
}

.secondIconContainer {
    border: 1.5px black solid;
    display: inline-block;
    vertical-align: middle;
    border-radius: 34px;
    width: 32px;
    height: 32px;

    i {
        display: flex;
        justify-content: center;
        margin-top: 6px;
        transform: scale(1.10);
    }

    @media screen and (max-width:992px) {
        margin-left: 1.4%;
    }
}